.AppDialog--Backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #00000054;

	display: flex;
	align-items: center;
	justify-content: center;
}

.AppDialog {
	width: 800px;
	margin-top: -200px;
	padding: 30px 50px;

	background-color: #F5F6FF;

	display: flex;
	flex-direction: column;

	form {
		display: flex;
		flex-direction: column;

		flex: 1;
	}
}

.DialogHeader {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.DialogContent {

	flex: 1;
}

.DialogFooter {
	margin-top: 40px;

	display: flex;
	justify-content: flex-end;
	user-select: none;

	.close {
		margin-right: 10px;
	}
}
