.UsersHeader {
	margin: 20px 0 20px 32px;

	display: flex;
	align-items: center;

	.title {
		font-size: 24px;
		font-weight: 700;

		span {
			color: #676A7A;
			font-weight: 400;
		}
	}

	.new {
		margin-left: auto;
	}
}
