$border: 1px solid #DFE2F7;

.UsersTable {
	background-color: #fff;
	border: $border;
	width: 100%;

	thead > tr > th,
	tbody > tr:not(:last-child) > td {
		border-bottom: $border;
	}

	thead > tr > th {
		padding-top: 30px;
		padding-bottom: 18px;
		font-weight: 600;
		font-size: 18px;
		color: #676A7A;
		text-align: left;

		&.name {
			width: 100%;
		}

		&.actions {
			padding-left: 15px;
		}
	}

	tbody > tr > td {
		height: 100px;

		.counter {
			font-weight: 600;
			font-size: 18px;
			color: #676A7A;
			margin-left: 36px;
			margin-right: 20px;
		}

		.name {
			font-weight: 700;
			font-size: 18.5px;
		}

		.actions {
			display: flex;
			margin-right: 36px;
		}

		.avatar {
			margin-right: 10px;
		}
	}
}
