.UsersList {
	list-style-type: none;
	margin: 0;
	padding: 0;

	.no-results {
		margin: 50px 0;
		text-align: center;
	}
}

.UserListItem {
	display: flex;
	align-items: center;
	margin: 20px 0;

	.options {
		margin-left: auto;
	}
}
