.app-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	background-color: lightblue;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-out;
	outline: none;

	border-radius: 9px;
	padding: 20px 25px;
	font-size: 20px;

	&.success {
		background-color: #249FAB;
		color: #FFFFFF;

		&:hover,
		&:focus {
			background-color: #225f6b;
		}
	}

	&.neutral {
		background-color: transparent;
		color: #000;
		border: 1px solid #000;
		border-radius: 9px;

		&:hover,
		&:focus {
			color: #ffffff;
			background-color: #000;
		}
	}
	
	&.only-icon {
		background-color: transparent;
		color: #676A7A;
		border-radius: 50%;

		padding: 15px;

		&:hover,
		&:focus {
			background-color: rgba(223, 225, 246, 0.71);
			color: #161440;
		}
	}
	
	&:not(.only-icon) svg {
		margin-right: 25px;
	}
}
