input[type="checkbox"] {
	-webkit-appearance: none; /* Hides the default checkbox style */
	height: 38px;
	width: 38px;
	cursor: pointer;
	position: relative;
	-webkit-transition: .15s;
	border-radius: 5px;
	background-color: transparent;
	border: 2px solid #676A7A;
}

input[type="checkbox"]:checked {
	background-color: #249FAB;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-size: 21px;
	color: #ffffff;
}

input[type="checkbox"]:checked:before {
	content: '✔';
}

input[type="text"],
select {
	background: #FFFFFF;
	border: 1px solid #E7E9F9;
	border-radius: 13px;
	padding: 24px 36px;

	font-weight: bold;
	font-size: 20px;
	color: #161440;
	outline: none;
	transition: all 0.2s ease-out;

	&:focus {
		border-color: #249FAB;
	}

	&[aria-invalid="true"] {
		border-color: #970000;
	}
}
