.CreateUserDialogForm {
	.content {
		display: flex;
		flex-direction: column;

		.row {
			margin: 10px 0;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			span {
				margin-bottom: 7px;
				font-weight: 600;
				font-size: 18px;
				color: #676A7A;
			}

			.avatar {
				margin-left: 15px;
			}

			.error-message {
				color: #970000;
				margin-top: 10px;
				font-size: 15px;
			}
		}
	}
}
